[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
rest-framework-simplejwt = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
channels = "*"
daphne = "*"
logger = "*"

[dev-packages]

[requires]
python_version = "3.12"
